@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --white: #ddd;
    --dark: #111;
    --darkGrey: #474b4f;
    --lightGrey: #6b6e70;
    --darkyellow: #8f6e13;
    --transition: all 0.5s ease;
}
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 700px;
    margin-left: 30px;
    margin-right: -400px;
}
body{
    line-height: 1.6;
}
img{
    width: 100%;
    display: block;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 15px 0;
}

/********************** Utility Classes *******************/
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 90vw;
    margin: 0 auto;
}
.btn{
    background: var(--darkyellow);
    border: none;
    display: block;
    width: 150px;
    text-align: center;
    color: var(--darkyellow);
    text-transform: uppercase;
    background: transparent;
    font-size: 15px;
    padding: 12px;
    border: 2px solid var(--darkyellow);
    border-radius: 25px;
    margin: 15px 0;
    transition: var(--transition);
}
.btn:hover{
    background: var(--darkyellow);
    color: #fff;
}
.active{
    color: var(--darkyellow)!important;
}

/**************** end of Utility Classes *******************/

/********************** Header styling *********************/

.header{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(cover.jpeg) center/cover no-repeat;
}
.top-nav a{
    color: #fff;
}
.brand-and-navBtn{
    background: #000;
    position: relative;
    z-index: 999;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 19px;
    padding: 15px 2px;
    color: var(--white);
}
.brand-name{
    letter-spacing: 5px;
    width: 20vw;
    cursor: pointer;
}
.navBtn{
    width: 40px;
    height: 40px;
    border: 1px solid var(--white);
    cursor: pointer;
}
.navBtn:hover{
    background: #fff;
    color: #000;
    transition: var(--transition);
}
.top-nav{
    background: #000;
    transform: translateY(-600px);
    transition: var(--transition);
}
.showNav{
    transform: translateY(0);
}


.top-nav ul li{
    padding: 10px 0;
}
.top-nav ul a{
    position: relative;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    display: block;
}
.top-nav ul a::after{
    content: "";
    height: 2px;
    background: var(--darkyellow);
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    transition: var(--transition);
}
.top-nav ul a:hover::after{
    width: 100px;
}
.about{margin-top: -90px;
    ;
}

.about-content h2{
    font-size: 30px;
    text-align:center;
    margin-bottom: -90px;
    margin-right: -450px;

    color: var(--darkyellow);
}
blockquote{
    font-size: 15px;
    font-weight: 30;
    opacity: 10;
    width: 50vw;
    margin-top: 100px;
    margin-left: 260px ;
    text-align: center;
}
blockquote span{
    font-size: 14px;
    text-transform: uppercase;
    color: var(--darkyellow);
    font-weight: 300;
    letter-spacing: 5px;
    display: block;
}
.social-icons{
    width: 350px;
    margin: 40px auto 0 auto;
    padding-bottom: 30px;
    margin-right: -50px;
}
.social-icons ul a{
    color: #fff;
    font-size: 30px;
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}
.social-icons ul{
    display: flex;
    justify-content: space-around;
}
.social-icons ul a:hover{
    background: var(--darkyellow);
    border-color: var(--darkyellow);
}

/*************** aboutme.html **************/

.section-two{
    width: 100%;
    padding: 100px 0px;
 
}

.about-img{
    background: #fff;
    width: 850px;
    height: auto;
   margin-right: 130px;
    
}
.about-text{
    width:1100px;
    margin-bottom: 10px;

}
.main{
    width:1000px;
    max-width: 90%;
    margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 10px;
    margin-left: -60px;
}
.about-text h4 {
    color:var(--darkyellow);
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 10px;
    margin-left: -60px;
    text-transform: capitalize;

}
.about-text p{
    color:black;
    letter-spacing: 1px;
    line-height: 23px;
    font-size: 14px;
    margin-bottom: 2px;
    margin-left: -60px;
} 
button{
    background-color: white;
    letter-spacing: 1px;
    border:3px solid black;
    font-weight: bold;
    padding: 12px 13px;
  border-radius: 15px;
    transition: .4s;
    margin-left: -70px; 
    margin-bottom: 30px;
}
button:hover{
    background-color: var(--darkyellow);
    border:3px solid white;
    color:white; 
    cursor: pointer;
    margin-left: -70px; 
    margin-bottom: 40px;
}


/***************end of about me.html **************/

/*************** resume.html **************/
.section-three{width: 100%;
    padding: 40px 0px;
   
}
.section-three .container div{
    margin: 10px 0;
}

.qualification_tabs{
    display:flex;
    justify-content: space-around;
    margin-bottom: var(--mb-2);
}
.qualification_button{
    font-size: 24px;
    font-weight: 1000;
    cursor: pointer;
    
}
.qualification_button:hover{
    color:var(--darkyellow);
}
.qualification_icon{
    font-size: 1.8rem;
    
}
.qualification_data{
    display:grid;
grid-template-columns: 6fr max-content 5fr;
column-gap: 2rem;

}
.qualification_title{
    font-size:large;
    font-weight: bolder;
    
}
.qualification_subtitle{
display: inline-block;
font-size:medium;
margin-bottom: 1.5px;
color:var(--darkGrey);

}
.qualification_calender{
    font-size: small;
    color:#474b4f;
}
.qualification_rounder{
    display: block;
    width:15px;
    height:15px;
    margin-top: 18px;
    background-color: var(--darkyellow);
    border-radius: 50%;
}
.qualification_line{
    display: block;
    width:1.2px;
    height:210%; 
    background-color: var(--darkyellow);
    transform: translate(6px, -7px)
}
.qualification [data-content]{
    display: none;
}
.qualification_active[data-content]{
    display: block;

}
  
/**skills**/
.section-six{width: 100%;
    padding: 40px 0px;
   
}
.section-six .container div{
    margin: 10px 0;
}

.skills_container{
    row-gap:5rem;
}

.skills_subtitle{
    font-size: 24px;
    color: var(--darkyellow);
    margin-bottom: 30px;
}
.skills-data{
    position:relative;
    display: flex;
    justify-content: space-between;
    margin: 10px 250px;
    margin-bottom: 300px;
}
.skills_name{
    text-transform: uppercase;
}
.skills_bar{
    position: absolute;
    bottom: -.45rem;
    height: .55rem;
    background-color: var(--darkyellow);

}
.skills_html{
    width: 70%;

}

.skills_c{
    width: 60%;

}
.skills_js{
    width: 45%;

}
.skills_photo{
    width: 85%;

}
.skills_video{
    width: 75%;

}
.skills_ms{
    width: 78%;

}
.skills_communication{
    width: 75%;

}
.skills_problem{
    width: 70%;

}
.skills_critical{
    width: 60%;

}
.skills_team{
    width: 76%;

}
.skills_flexible{
    width: 85%;

}
.skills_creative{
    width: 80%;

}


/************** end of resume.html **********/


/*************** portfolio.html **************/

.section-four
{width: 100%;
    padding: -90px 100px;
   
}
.section-title h3{
    color: rgb(0, 0, 0);
    font-family: 'popins',sans-serif;
font-size: 35px;
text-align: center;
margin-bottom: -90px;
}
.section-middle{
    padding: 20px;
    width: 1280;
    margin: 40px auto;
}
.section-middle ul{
    display: flex;
    
    margin-bottom: 20px;
}
.section-middle ul li{
    list-style: none;
    background: whitesmoke;
    padding: 8px 20px;
    margin:5px;
    letter-spacing: 1px;
    cursor: pointer;
}
.section-middle ul li.active{
    background:whitesmoke;
    color:#6b6e70;
}
.photo
{
    display: flex;
    flex-wrap: wrap;

}
.photo .pictures{
    position: relative;
    width:300px;
    height: 300px;
    margin: 3px;
   

}
.photo .pictures img{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    object-fit: cover;
}




/*************** end of portfolio.html **************/

/*************** contact.html **************/


.section-five
{width: 95%;
    padding: 100px 0px;
   
}
.section-five .container div{
    margin: 20px 0;
    margin-left:-10px;
}
.contact-top{
    text-align: center;
    
}
.contact-top h3{
    font-size: 28px;
}
.contact-top p{
    font-weight: 300;
    width: 80%;
    margin: 0 auto;
}
.contact-middle div{
    text-align:center;
    box-sizing: small;
    padding: 5px 1px;
    background: var(--dark);
    color: white;
}
.contact-middle div span{
    display:block;
}
.contact-icon{
    font-size: 25px;
}
.contact-middle div span:nth-child(2){
    font-size: 16px;
    font-weight: bold;
}
.contact-middle div p{
    font-weight: 350;
    opacity: 0.6;
    width: 20vw;
}
.contact-bottom{
    margin-top: 50px!important;
}
.form input[type = "text"], .form input[type = "email"], .form textarea{
    width: 230%;
    font-size: 16px;
    padding: 10px 15px;
    margin: 10px 0;
    margin-left: -120px;
    border: 1px solid var(--darkyellow);
    outline: none;
    border-radius: 5px;
}
.contact-bottom .form{
    padding: 10px 70px;
    
}
iframe{
    width:600px;
    height:370px;
}
/************** end of contact.html **********/

@media screen and (min-width: 678px){
    /* section five */
    .contact-middle{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
    }
    .skills_container{
        grid-template-columns: repeat(2,1fr);
    }
}


    


@media screen and (min-width: 992px){
    /* header & footer */
    .nav-section{
        display: flex;
        justify-content: space-between;
    }
    .navBtn{
        display: none;
    }
    .brand-and-navBtn{
        flex: 0 0 10%;
        background: none;
    }
    .top-nav{
        flex: 0 1 80%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        transition: transform 0s ease;
        transform: translateY(0);
        background: transparent;
    }
    .top-nav ul{
        display: flex;
    }
    .top-nav ul li{
        margin-right: 30px;
        margin-left: 30px;
    }
    .about{
        margin-top: 110px;
        margin-left: 348px;
    }
    .skills_container{
        grid-template-columns: repeat(2,1fr);
    }


    /* section five */
    .contact-middle{
        grid-template-columns: repeat(6, 1fr);
    }
    .contact-bottom{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 40px;
    }
}


@media screen and (min-width: 1000px){
    /* section one */
    .section-one .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 50px;
    }
    .sec-one-left{
        align-self: center;
    }
    .work-content{
        margin-top: 0;
    }
    .sec-one-left{
        height: 100%;
    }

    .skills_container{
        grid-template-columns: repeat(2,1fr);
    }

    
}

@media screen and (min-width: 1200px){
    /* footer */
    .footer-container > div{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    /* section three */
    .qualification{
        grid-template-columns: repeat(3, 1fr);
        margin-left: 300px;
    }

    .skills_container{
        grid-template-columns: repeat(2,1fr);
    }
}


@media screen and (min-width: 1400px){
/* section three */
.qualification{
    grid-template-columns: repeat(3, 1fr);
    margin-left: 300px;
}
}

/*************** extra small sized screen ******************/

@media screen and (max-width: 500px){
    /* overall styling */
    .header{
        padding-bottom: 30px;
    }
    .social-icons{
        display: none;
    }
    .about-content h3{
        width: 100%;
    }
    .about-content blockquote{
        font-size: 16px;
        width: 100%;
    }
    .subs{
        width: 280px;
    }
    .subs i{
        display: none;
    }
    .subs input{
        width: 100%;
    }
    .subs button{
        padding-left: 8px;
        padding-right: 8px;
    }
    h2{
        font-size: 30px!important;
    }
    h3{
        font-size: 20px!important;
    }
    p{
        font-size: 15px;
    }
    .btn{
        font-size: 14px;
        padding: 8px 0;
    }
    .work-imgs{
        grid-template-columns: 1fr;
        grid-row-gap: 0px;
    }
}
